* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container, [class*="col-"] {
  border: 1px solid red;
}

[class*="col-"] {
  background-color: pink;
  vertical-align: center;
  height: 100%;
}

.row{
  height: 300px;
}
