* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  margin: 20px 0px;
}

.container [class*="col-"] {
  border: 1px solid black;
}

[class*="col-"] {
  background-color: pink;
  height: 100%;
}

[class*="col-"] .nested{
  background-color: lightcoral;
  border: 1px solid #fff;
}

.container .col-6{
  padding: 5px;
}

.row{
  height: 300px;
}
